
@import "tailwindcss";

:root {
  --color-primary: #2c3ea1;
  --heading-color: #000;
  --text-color: #71717b;
  --bg-lightgray: #f9fafb;
  --bordergray: #e5e7eb;
  --font-primary: "Inter", sans-serif;
}
body {
  font-family: var(--font-primary);
  background-color: var(--bg-lightgray);
}
.text-heading {
  color: var(--heading-color) !important;
}
.text-textgray {
  color: var(--text-color) !important;
}
.color-primary {
  color: var(--color-primary) !important;
}
.border-bordergray {
  border-color: var(--bordergray) !important;
}
.border-borderprimary {
  border-color: var(--color-primary) !important;
}
.bg-primary {
    background-color: var(--color-primary) !important;
}
